
<section class="card-collections">
  <!-- Tent Cards -->
  <div class="wrap__tents-collection">
    <!-- Product 1 -->
    {% if settings.product_1_image %}
      <a
        href="{{ settings.product_1_url }}"
        class="top-tents__box top-tents__box-cart"
        style="background-image: url({{ settings.product_1_image | img_url: 'master' }})"
      >
        <div class="tents-description__section">
          <h2>{{ settings.product_1_title }}</h2>
        </div>
      </a>
    {% endif %}
    
    <!-- Product 2 -->
    {% if settings.product_2_image %}
      <a
        href="{{ settings.product_2_url }}"
        class="top-tents__box top-tents__box-cart"
        style="background-image: url({{ settings.product_2_image | img_url: 'master' }})"
      >
        <div class="tents-description__section">
          <h2>{{ settings.product_2_title }}</h2>
        </div>
      </a>
    {% endif %}
    
    <!-- Product 3 -->
    {% if settings.product_3_image %}
      <a
        href="{{ settings.product_3_url }}"
        class="top-tents__box top-tents__box-cart"
        style="background-image: url({{ settings.product_3_image | img_url: 'master' }})"
      >
        <div class="tents-description__section">
          <h2>{{ settings.product_3_title }}</h2>
        </div>
      </a>
    {% endif %}
    
    <!-- Product 4 -->
    {% if settings.product_4_image %}
      <a
        href="{{ settings.product_4_url }}"
        class="top-tents__box top-tents__box-cart"
        style="background-image: url({{ settings.product_4_image | img_url: 'master' }})"
      >
        <div class="tents-description__section">
          <h2>{{ settings.product_4_title }}</h2>
        </div>
      </a>
    {% endif %}
  </div>
</section>


<style>
    .card-collections .top-tents__box-cart {
        height: 210px;
        border-radius: 5px !important;
    }
    .top-tents__box-cart .tents-description__section h2 {
        font-size: 15px !important;
        color: #fff;
    }
    .card-collections  a.top-tents__box:hover {
        transform: translateY(0px) !important;
    }
    .wrap__tents-collection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px !important
    }
    .card-collections a.top-tents__box::after,
    .card-collections a.top-tents__box::before {
        border-radius: 5px !important;
    }
</style>