{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

{% assign product_url = childlink.url %}
{% assign product_slug_parts = product_url | split: '/' %}
{% assign product_slug = product_slug_parts.last %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary class="header__menu-item list-menu__item link focus-inset">
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content gradient motion-reduce global-settings-popup mega-menu__updated-content"
                tabindex="-1"
              >
                <div
                  class="mega-menu__list mega-menu__list-grid page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                  role="list"
                > 
                
                {% if link.title == 'TENTS' %}
                  <div class="mega-menu__info">
                    <div>
                    <h2>Durable, versatile, longer lasting tents.</h2>
                    <p>lightweight  •  Compact • Travel-friendly</p>
                    </div>
                    <div class="mega-menu__btn-wrapper">
                    <a href="" class="shop-all___btn">Shop all Tents</a>
                    </div>
                  </div>
                {% else %}
                  <div class="mega-menu__info">
                    <div>
                    <h2>Sleek, portable and functional.</h2>
                    <p>Ergonomic  •  Waterproof  •  Lightweight</p>
                    </div>
                    <div class="mega-menu__btn-wrapper">
                    <a href="" class="shop-all___btn">shop all Furniture</a>
                    </div>
                  </div>

                  {% endif %}

                  {%- for childlink in link.links limit: 3 -%}
                    {% assign product_url = childlink.url %}
                    {% assign product_slug_parts = product_url | split: '/' %}
                    {% assign product_slug = product_slug_parts.last %}

                    
                    
                   
                    <div class="child-menu-item-{{ product_slug }}">
                       <div>
                      <a
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu-updated__link mega-menu__link--level-2 link link_{{ product_slug }}{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      > 
                        
                        {% if childlink.url contains '/products/' %}
                          {% assign product_handle = childlink.url | split: '/products/' | last %}
                          {% assign product = all_products[product_handle] %}
                          
                          {% comment %} {% if product %}
                            <!-- Display product image -->
                           
                         
                          {% endif %} {% endcomment %}
                          {% assign mega_menu_image = product.metafields.custom.mega_menu_image %}
                          {% if mega_menu_image %}
                            <img src="{{ mega_menu_image | img_url: 'large' }}" alt="Mega Menu Image"  class="child-menu-meta-image">
                          {% else %}
                             <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title | escape }}" class="child-menu-item-image">
                          {% endif %}

                        {% endif %}
                        <span>{{ childlink.title | escape }}</span>
                       
                      </a>
                        <div class="child-menu-product___desc">
                          {% assign product_description = product.metafields.custom.mega_menu_description %}
                          {%  if product_description %}
                            {{ product_description | strip_html | truncate: 80  }}
                          {% else %}
                          {{ product.description | strip_html | truncate: 80  }}
                           {% endif %}
                        </div>
                      </div>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {% assign neso_increment = 0 %}
                          {%- for grandchildlink in childlink.links -%}

                          
                            {% assign neso_increment = 0 %}
                            <li class="grandchild-menu-item-{{ product_slug }}-{% increment neso_increment %}">
                              <a
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link link_{{ product_slug }}-{% increment neso_increment %}{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>
                
                  {%- endfor -%}


                  <div class="child-menu-item__collection-main">
                   <h2>MORE TENTS</h2>
                  {%- for childlink in link.links limit: 3 offset: 3  -%}
                    {% assign product_url = childlink.url %}
                    {% assign product_slug_parts = product_url | split: '/' %}
                    {% assign product_slug = product_slug_parts.last %}

                    
                    
                   
                    <div  class="child-menu-item-{{ product_slug }}  child-menu-item__collection"  
                                              style="
                          {% if childlink.url contains '/products/' %}
                            {% assign mega_menu_image = product.metafields.custom.mega_menu_image %}
                            {% assign product_handle = childlink.url | split: '/products/' | last %}
                            {% assign product = all_products[product_handle] %}
                            {% if mega_menu_image %}
                              background-image: url('{{ mega_menu_image | img_url: 'medium' }}');
                               {% else %}
                                 background-image: url('{{ product.featured_image | img_url: 'medium' }}');
                            {% endif %}
                          {% endif %}">
                      <div>
                      <a
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu-updated__link mega-menu__link--level-2 link link_{{ product_slug }}{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      > 

                        <span>{{ childlink.title | escape }}</span>
                      </a>
                      </div>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {% assign neso_increment = 0 %}
                          {%- for grandchildlink in childlink.links -%}

                          
                            {% assign neso_increment = 0 %}
                            <li class="grandchild-menu-item-{{ product_slug }}-{% increment neso_increment %}">
                              <a
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link link_{{ product_slug }}-{% increment neso_increment %}{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>
                
                  {%- endfor -%}
                  </div>
                </div>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
