{{ 'compare-product.css' | asset_url | stylesheet_tag }}
<section class="compare-product__container">
<div class="comparison-product___table">
  <div class="comparison-section__title">
    <h2> {{ section.settings.sec_title   }}</h2>
  </div>
<div class="compare-product__responsive ">
<div class="scrollable-wrapper">
  <img src="{{ section.settings.sec_image_x | img_url: 'master' }}" >

  <div class="compare-product___grid">
    {% for block in section.blocks %}
      <div class="column">
        <div class="attribute">
          <p>Size:</p>
          <div>{{ block.settings.size }}</div>
        </div>
        <div class="attribute">
          <p>Fits People:</p>
          <div>{{ block.settings.fits_people }}</div>
        </div>
        <div class="attribute">
          <p>Weight & Dimensions:</p>
          <div>{{ block.settings.weight }}</div>
        </div>
        <div class="attribute">
          <p>UPF Rating:</p>
          <div>{{ block.settings.upf_rating }}</div>
        </div>
        <div class="attribute">
          <p>Setup Time:</p>
          <div>{{ block.settings.setup_time }}</div>
        </div>
        <div class="attribute">
          <p>Anchoring System:</p>
          <div>{{ block.settings.anchoring_system }}</div>
        </div>
        <div class="attribute">
          <p>Ideal For:</p>
          <div>{{ block.settings.ideal_for }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
  </div>
  </div>
</div>
</section>
{% schema %}
{
  "name": "Compare Product",
  "settings": [
    {
      "type": "text",
      "label": "Section Heading",
      "id": "sec_title",
     
    },
    {
        "type": "image_picker",
      "label": "Image",
      "id": "sec_image_x",
    }
  
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "text",
          "label": "Size",
          "id": "size",
          "default": "7 x 7 ft."
        },
        {
          "type": "text",
          "label": "Fits People",
          "id": "fits_people",
          "default": "2-4 People"
        },
        {
          "type": "text",
          "label": "Weight & Dimensions",
          "id": "weight",
          "default": "4 lbs (134\" x 134\")"
        },
        {
          "type": "text",
          "label": "UPF Rating",
          "id": "upf_rating",
          "default": "UPF 50+"
        },
        {
          "type": "text",
          "label": "Setup Time",
          "id": "setup_time",
          "default": "2 minutes"
        },
        {
          "type": "text",
          "label": "Anchoring System",
          "id": "anchoring_system",
          "default": "Sand/rock anchors"
        },
        {
          "type": "text",
          "label": "Ideal For",
          "id": "ideal_for",
          "default": "Compact shade for individuals or couples"
        }
      ]
    },
 
  ],
  "presets": [
    {
      "name": "Compare Product"
    }
  ]
}
{% endschema %}
