<!-- Include the CSS file -->
<link rel="stylesheet" href="{{ 'home-updated.css' | asset_url }}" type="text/css">

<section id="more-collections">
    <div class="page-width">
      <div class="collections-wrap__section">
        <div class="more-collection__text">
          <h1>{{ section.settings.title }}</h1>
        </div>
        <div class="collections-box__outer-wrap">
          {% for block in section.blocks %}
            {% assign collection = collections[block.settings.collection_handle] %}
            {% if collection %}
              <div class="collections-box__wrap">
                <a href="{{ collection.url }}">
                  <div class="collection-image__section">
                    {% if collection.image %}
                      <img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}" class="img-fluid" width="" height="">
                    {% else %}
                      <img src="https://via.placeholder.com/300" alt="{{ collection.title }}" class="img-fluid" width="" height="">
                    {% endif %}
                  </div>
                  <div class="collection-description__section">
                    <h3>{{ collection.title }}</h3>
                    <p>{{ collection.products_count }} product</p>
                  </div>
                </a>
              </div>
            {% else %}
              <p>Collection not found for handle: {{ block.settings.collection_handle }}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  
  {% schema %}
  {
    "name": "More Collections",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "More Collections"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection_handle",
            "label": "Select Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "More Collections",
        "category": "Collections",
      }
    ]
  }
  {% endschema %}
  